<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="InformaticsCommerce_UseMyShippingAccount::menu" title="Informatics Commerce" module="InformaticsCommerce_UseMyShippingAccount" sortOrder="10" resource="InformaticsCommerce_UseMyShippingAccount::menu"/>
        <add id="InformaticsCommerce_UseMyShippingAccount::shippingoptions" title="Checkout Shipping Options" module="InformaticsCommerce_UseMyShippingAccount" sortOrder="10" parent="InformaticsCommerce_UseMyShippingAccount::menu" action="shippingoptions/option/index" resource="InformaticsCommerce_UseMyShippingAccount::create"/>
    </menu>
</config>
