<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="Mage4_csvupload" id="Mage4_csvupload">
            <module before="Magento_Backend" name="Mage4_CsvUpload"/>
        </route>
    </router>
</config>