<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <custom>
                <active>1</active>
                <model>BenefitsMe\Shipping\Model\Carrier\Custom</model>
                <name>Shipping</name>
            </custom>
        </carriers>
    </default>
</config>
