<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\AttributeMerger">
        <plugin name="add_placeholderto_checkout"
                type="Mage4\ExtendCheckoutBillingBeforePayment\Plugin\Block\Checkout\AttributeMerger" sortOrder="10"/>
    </type>
    <!-- Set Billing address above the payment method plugin -->
     <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
          <plugin name="move_billing_address_above_payment_method"
            type="Mage4\ExtendCheckoutBillingBeforePayment\Plugin\Block\Checkout\LayoutProcessor"/>
     </type>
</config>
