<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="InformaticsCommerce_UseMyShippingAccount::menu" title="Informatics Commerce" sortOrder="10" >
                    <resource id="InformaticsCommerce_UseMyShippingAccount::shippingoptions" title="Checkout Shipping Options" sortOrder="50" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
