<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ask" frontName="ask">
            <module name="InformaticsCommerce_ProductAskQuestions"/>
        </route>
    </router>
</config>
