<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Mage4_paypalallcurrencies>
            <general>
                <enabled>1</enabled>
                <exchangerate>3.56</exchangerate>
                <paypalcurrency>USD</paypalcurrency>
                <currencyservice>0</currencyservice>
            </general>
        </Mage4_paypalallcurrencies>
    </default>
</config>
