<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogImportExport\Model\Export\Product" type="Baytonia\CustomCheckout\Model\Export\Product" />
    <preference for="Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor" type="Baytonia\CustomCheckout\Model\Import\Product\CategoryProcessor" />
    <type name="Magento\Quote\Model\ShippingMethodManagement">
        <plugin name="shipping_method_management" type="Baytonia\CustomCheckout\Plugin\Model\ShippingMethodManagement" disabled="false"/>
    </type>
</config>